*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "微软雅黑";
}
html,body{
    width:100%;
    height:100%;

}
html{
    background: url(1.jpg) ;
    background-size: cover ;
}
ul{
    color: #fff;
}
.box{
    width: 800px;
    height:400px;
    position: absolute;
    top: 0;left: 0;right: 0;bottom: 0;
    margin: auto;
}
.top{
    width: 100%;
    height: 40px;
    /*background: white;*/
}
.search{
    width: 50%;
    height: 30px;
    float: left;
    margin-left: 12px;
    border:2px solid #eff4ff;
    border-radius: 10px;
    font-size: 14px;
    padding-left: 20px;
    line-height: 30px;
    /*outline-color: #2c3cff;*/
    outline: none;
    margin-top:5px;
    color: #fff;
}
.btn,.del{
    width: 8%;
    height: 30px;
    float: left;
    margin-left: 10px;
    background: #ff6700;
    color: #fff;
    text-align: center;
    line-height:30px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    font-family: 苹方;
    margin-top:5px;
    border-radius:5px;
}
.btn{
    background: #1b7dff;

}
.del{
    background: #2aff50;
}
.now,.success{
    width: 100%;
    min-height: 40px;
    height: auto;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    padding: 5px 30px;
    /*background: white;*/
}
.success{
    border-bottom: 1px dashed #ff5b00;
}
.now{
    margin-top: 10px;
    border-bottom: 1px dashed #1DC74E;
}
.now p{
    width: 20px;
    height:20px;
    border-radius: 50%;
    color: #fff;
    background-color: #1446ff;
    text-align: center;
    line-height:20px;
}
.success p{
    width: 20px;
    height:20px;
    background-color: #0c5aff;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height:20px;
}
.now .color{
    color: #8773d4;
}
.success .color{
    color: #ff306e;
}
li{
    list-style: none;
    float: left;
    margin-left: 20px;
 }
p{
    float: right;
}
.clear:after{
    content: "";
    display: block;
    clear: both;
}

.state{
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
}
.neirong{
    float: left;clear: both;
    width: 500px;
    height: 40px;
    text-align: left;
    padding-left: 15px;
    outline-style: none;
}
.shan{
    float: right;
    width: 50px;
    height: 30px;
    line-height: 30px;
    border-radius: 10px;
    background: #ec121e;
    color: white;
    cursor: pointer;
}
input[type=checkbox]{
    width: 30px;
    height:30px;
    background-image: url(1.jpg);
    background-size: 100%;
}